.btn
  text-transform: uppercase

.btn-primary

  &:focus
    box-shadow: none !important

  &:hover
    background: #819348 !important

.btn-light
  color: $color-black !important
  line-height: 1.7 !important
  border-color: $color-secondary !important
  background: $color-white !important
  box-shadow: none !important

  &:focus
    box-shadow: none !important

  &:hover
    color: $color-white
    background: #819348 !important

.btn-link
  color: $color-secondary !important

  &:focus
    box-shadow: none !important